task-execution/executor_step_function.json
{
  "Comment": "Executor Step Function - Replaces LambdaExecutor with workflow orchestration. Uses Parallel state with single branch to centralize error handling.",
  "StartAt": "Preprocessing",
  "States": {
    "Preprocessing": {
      "Type": "Task",
      "Comment": "Resolve target from tenant mapping and merge payloads",
      "Resource": "${PreprocessingLambdaArn}",
      "Parameters": {
        "execution_id.$": "$$.Execution.Name",
        "tenant_id.$": "$.tenant_id",
        "target_alias.$": "$.target_alias",
        "schedule_id.$": "$.schedule_id",
        "payload.$": "$.payload"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ExecuteTargetWithErrorHandling"
    },
    "ExecuteTargetWithErrorHandling": {
      "Type": "Parallel",
      "Comment": "Wraps target execution in Parallel state to centralize error handling and post-processing",
      "Branches": [
        {
          "StartAt": "TargetTypeChoice",
          "States": {
            "TargetTypeChoice": {
              "Type": "Choice",
              "Comment": "Route to appropriate target executor based on target_type",
              "Choices": [
                {
                  "Variable": "$.target_type",
                  "StringEquals": "lambda",
                  "Next": "ExecuteLambdaTarget"
                },
                {
                  "Variable": "$.target_type",
                  "StringEquals": "ecs",
                  "Next": "ExecuteECSTarget"
                },
                {
                  "Variable": "$.target_type",
                  "StringEquals": "stepfunctions",
                  "Next": "ExecuteStepFunctionTarget"
                }
              ],
              "Default": "UnsupportedTargetType"
            },
            "ExecuteLambdaTarget": {
              "Type": "Task",
              "Comment": "Execute Lambda target and capture CloudWatch logs URL",
              "Resource": "${LambdaExecutionHelperArn}",
              "ResultPath": "$.execution_result",
              "End": true
            },
            "ExecuteECSTarget": {
              "Type": "Task",
              "Comment": "Execute ECS task synchronously and wait for completion",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster.$": "$.target_config.cluster",
                "TaskDefinition.$": "$.target_config.task_definition",
                "LaunchType.$": "$.target_config.launch_type",
                "NetworkConfiguration.$": "$.target_config.network_configuration",
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name.$": "$.target_config.container_name",
                      "Environment": [
                        {
                          "Name": "EXECUTION_PAYLOAD",
                          "Value.$": "States.JsonToString($.merged_payload)"
                        }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.execution_result",
              "End": true
            },
            "ExecuteStepFunctionTarget": {
              "Type": "Task",
              "Comment": "Start execution of another Step Functions state machine with predictable execution name",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.target_arn",
                "Name.$": "States.Format('{}-nested', $$.Execution.Name)",
                "Input.$": "$.merged_payload"
              },
              "ResultPath": "$.execution_result",
              "End": true
            },
            "UnsupportedTargetType": {
              "Type": "Fail",
              "Comment": "Target type is not supported",
              "Error": "UnsupportedTargetType",
              "Cause": "The specified target_type is not supported. Must be one of: lambda, ecs, stepfunctions"
            }
          }
        }
      ],
      "ResultSelector": {
        "execution_result.$": "$[0].execution_result",
        "tenant_id.$": "$[0].tenant_id",
        "target_alias.$": "$[0].target_alias",
        "schedule_id.$": "$[0].schedule_id",
        "target_arn.$": "$[0].target_arn"
      },
      "Next": "EventBridgeHandoff"
    },
    "EventBridgeHandoff": {
      "Type": "Pass",
      "Comment": "Execution complete. EventBridge rule automatically triggers postprocessing Lambda to record execution status in DynamoDB.",
      "End": true
    }
  }
}
