ExecutorStepFunction/state_machine.json
{
  "Comment": "Executor Step Function - Replaces LambdaExecutor with workflow orchestration. Uses Parallel state with single branch to centralize error handling.",
  "StartAt": "Preprocessing",
  "States": {
    "Preprocessing": {
      "Type": "Task",
      "Comment": "Resolve target from tenant mapping and merge payloads",
      "Resource": "${PreprocessingLambdaArn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ExecuteTargetWithErrorHandling"
    },
    "ExecuteTargetWithErrorHandling": {
      "Type": "Parallel",
      "Comment": "Wraps target execution in Parallel state to centralize error handling and post-processing",
      "Branches": [
        {
          "StartAt": "TargetTypeChoice",
          "States": {
            "TargetTypeChoice": {
              "Type": "Choice",
              "Comment": "Route to appropriate target executor based on target_type",
              "Choices": [
                {
                  "Variable": "$.target_type",
                  "StringEquals": "lambda",
                  "Next": "ExecuteLambdaTarget"
                },
                {
                  "Variable": "$.target_type",
                  "StringEquals": "ecs",
                  "Next": "ExecuteECSTarget"
                },
                {
                  "Or": [
                    {
                      "Variable": "$.target_type",
                      "StringEquals": "stepfunctions"
                    },
                    {
                      "Variable": "$.target_type",
                      "StringEquals": "step-functions"
                    }
                  ],
                  "Next": "ExecuteStepFunctionTarget"
                }
              ],
              "Default": "UnsupportedTargetType"
            },
            "ExecuteLambdaTarget": {
              "Type": "Task",
              "Comment": "Execute Lambda target and capture CloudWatch logs URL",
              "Resource": "${LambdaExecutionHelperArn}",
              "ResultPath": "$.execution_result",
              "End": true
            },
            "ExecuteECSTarget": {
              "Type": "Task",
              "Comment": "Execute ECS task with payload in environment variable",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster.$": "$.target_config.cluster",
                "TaskDefinition.$": "$.target_config.task_definition",
                "LaunchType.$": "$.target_config.launch_type",
                "NetworkConfiguration.$": "$.target_config.network_configuration",
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name.$": "$.target_config.container_name",
                      "Environment": [
                        {
                          "Name": "EXECUTION_PAYLOAD",
                          "Value.$": "States.JsonToString($.merged_payload)"
                        }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.execution_result",
              "End": true
            },
            "ExecuteStepFunctionTarget": {
              "Type": "Task",
              "Comment": "Start execution of another Step Functions state machine",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn.$": "$.target_arn",
                "Input.$": "$.merged_payload"
              },
              "ResultPath": "$.execution_result",
              "End": true
            },
            "UnsupportedTargetType": {
              "Type": "Fail",
              "Comment": "Target type is not supported",
              "Error": "UnsupportedTargetType",
              "Cause": "The specified target_type is not supported. Must be one of: lambda, ecs, stepfunctions, step-functions"
            }
          }
        }
      ],
      "ResultSelector": {
        "execution_result.$": "$[0].execution_result",
        "tenant_id.$": "$[0].tenant_id",
        "target_alias.$": "$[0].target_alias",
        "schedule_id.$": "$[0].schedule_id"
      },
      "Next": "EventBridgeHandoff"
    },
    "EventBridgeHandoff": {
      "Type": "Pass",
      "Comment": "Execution complete. EventBridge rule automatically triggers postprocessing Lambda to record execution status in DynamoDB.",
      "End": true
    }
  }
}
